= content_for(:append_to_head) do
  %meta{content: "index;follow", name: "robots"}

.container
  %p
    %strong Foire aux questions
  %p
    Vous trouverez ici un ensemble de réponses aux questions les plus posées.

  %p
    %strong Je me suis inscrit mais je souhaite modifier ou supprimer mes données ?

  %p
    Afin de modifier ou supprimer vos données personnelles, connectez-vous sur votre espace personnel
    = link_to 'ici', :new_user_session
    %br/
    Si vous souhaitez modifier vos données : modifiez-les puis cliquez sur « Je modifie mes informations ».
    %br/
    Si vous souhaitez supprimer vos données : cliquez sur « Supprimez mon compte ».

  %p
    %strong Je suis un centre de vaccination. Comment accéder à votre service ?

  %p
    Nous avons développé une interface de gestion automatisée des volontaires à la vaccination.
    %br/
    Afin de référencer votre centre et obtenir un accès à notre interface, vous pouvez vous inscrire
    = link_to 'ici', partenaires_inscription_path
    %br/
    Si vous avez besoin d'accompagnement, nous vous invitons à contacter
    = link_to 'partenaires@covidliste.com', 'mailto:partenaires@covidliste.com'

  %p
    %strong Je n’ai pas reçu d’email de confirmation

  %p
    Vérifiez que le mail de confirmation n'est pas présent dans vos courriers indésirables, ou boîte SPAM.
    %br/
    S'il n'est pas présent, vous pouvez faire une nouvelle demande d’email de confirmation
    = link_to 'ici', new_user_confirmation_path
    %br/
    Attendez quelques minutes, vérifiez vos courriers indésirables ou boîte SPAM.

  %p
    %strong Par quel moyen vais être contacté ?

  %p
    Si une dose de vaccin est disponible, nous vous enverrons un SMS et un e-mail afin de connaître votre disponibilité.
    %br/
    Si vous êtes disponible, nous vous transmettrons les informations nécessaires pour vous rendre sur le lieu de vaccination.

  %p
    %strong Comment fonctionne la liste d'attente ?

  %p
    Covidliste n'est pas une liste d'attente.

  %p
    %strong Comment être certain que les coordonnées transmises ne soient pas par la suite revendues à des tiers ?

  %p
    Covidliste est une initiative citoyenne et philanthrope portée par une équipe de plus de 100 bénévoles qui se sont rassemblés dans l’unique but de ne pas perdre de doses de vaccins.
    %br/
    Les données que vous renseignez ne sont transmises qu’aux centres de vaccination ou aux professionnels de santé proches de chez vous et disposant de doses de vaccins à sauver.

  %p
    %strong Quel type de vaccin va-t-on m'administrer ?

  %p
    La plateforme Covidliste prend uniquement en charge la mise en relation entre un centre de vaccination et les volontaires en fonction de critères établis par le centre tels que l’âge et la distance du point de vaccination.
    %br/
    Le centre de vaccination jugera de votre éligibilité en fonction du vaccin disponible.
    %br/
    Si un centre vous contacte, nous vous invitons à lui faire part de votre préférence et de toutes les informations que vous jugez nécessaires.

  %p
    %strong Je ne suis pas prioritaire, est-ce que je peux quand même m’inscrire ?

  %p
    Covidliste est un outil d’ajustement de l’offre et de la demande qui a pour objectif d’éviter de perdre des doses de vaccins.
    %br/
    Les centres pourront vous contacter même si vous n’êtes pas prioritaires selon les critères de la vague de vaccination en vigueur à ce moment.
    %br/
    Ce sont les centres qui sélectionnent les volontaires selon des critères qui leur sont propres parmi lesquels géolocalisation, âge, vaccin disponible...

  %p
    %strong  Je suis inscrit depuis plusieurs semaines et je n’ai jamais été contacté pour une vaccination.

  %p
    Covidliste est un outil d’ajustement de l’offre et de la demande qui a pour objectif d’éviter de perdre des doses de vaccins.
    %br/
    Covidliste est complémentaire de la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.
    %br/
    Covidliste ne peut garantir qu’une dose de vaccin sera proposée aux volontaires sur la plateforme.

  %p
    %strong Comment va se passer l'administration de la seconde dose ?

  %p
    Covidliste prend uniquement en charge la mise en relation entre des volontaires et un centre de vaccination partenaire qui a des doses disponibles en surnombre.
    %br
    Une fois entré dans le protocole de vaccination, c’est le centre qui vous aura proposé la première dose qui suivra votre dossier vaccinal.

  %p
    %strong Est-ce que je peux m’inscrire sur Covidliste si j’ai déjà reçu ma première dose ?

  %p
    Covidliste s’adresse aux non vaccinés volontaires et s’est fixé pour pour mission de sauver des doses qui risqueraient d’être perdues.
    %br/
    Covidliste est complémentaire à la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.

  %p
    %strong Si l’on est vacciné par l’intermédiaire de Covidliste sans être de la catégorie prioritaire, est-ce que la deuxième dose est assurée dans les bons délais ?

  %p
    Covidliste prend uniquement en charge la mise en relation entre des volontaires et un centre de vaccination partenaire qui a des doses disponibles en surnombre.
    %br
    Une fois entré dans le protocole de vaccination, c’est le centre qui vous aura proposé la première dose qui suivra votre dossier vaccinal.

  %p
    %strong Quels sont les centres de vaccination partenaires ?

  %p
    L’équipe de Covidliste diffusera bientôt la liste des centres. L’initiative a été lancée en partenariat avec des centres pilotes en Île-de-France et se développe sur l’ensemble du territoire.

  %p
    %strong Puis-je choisir les centres susceptibles de me contacter ?

  %p
    La plateforme Covidliste permet aux centres de vaccination d’identifier et de contacter des volontaires à proximité afin d’écouler des surdoses qui risqueraient d’être détruites.
    %br/
    Covidliste est complémentaire à la stratégie vaccinale actuelle et n’a pas vocation à s’y substituer.

  -# %p
  -#   %strong Est-ce gratuit ?

  %p
    %strong À quoi servent les données demandées lors de l'inscription ?

  %p
    Lors de l'inscription sur Covidliste, nous demandons à l'utilisateur de nous confier certaines données personnelles.
    %br/
    Nous ne demandons que les données strictement nécessaires à l'utilisation de la plateforme, rien de plus.
    %br/
    Détails par donnée :
    %ul
      %li Le prénom est transmis au centre de vaccination pour identifier le volontaire lors de son arrivée au RDV
      %li Le nom est transmis au centre de vaccination pour identifier le volontaire lors de son arrivée au RDV
      %li La date de naissance est utilisée pour selectionner des volontaires selon les critères d'age choisis par le centre de vaccination
      %li L'adresse est utilisée pour déterminer les deux champs "latitude" et "longitude" (ces deux champs sont arrondis ou approximés)
      %li La latitude est utilisée pour selectionner des volontaires selon les critères de distance choisis par le centre de vaccination
      %li La longitude est utilisée pour selectionner des volontaires selon les critères de distance choisis par le centre de vaccination
      %li Le numéro de téléphone est utilisé pour prévenir les volontaires par SMS qu'une dose est disponible
      %li L'adresse email est utilisée pour prévenir les volontaires par Email qu'une dose est disponible ainsi que pour se connecter à son compte
      %li Le mot de passe est utilisé pour se connecter à son compte

    Les informations personnelles partagées avec les centres après validation du RDV par le volontaire sont :
    %ul
      %li Le prénom
      %li Le nom
      %li La date de naissance
      %li Le numéro de téléphone

  %p
    %strong Comment sont stockées les données demandées lors de l'inscription ?

  %p
    Lors de l'inscription sur Covidliste, nous demandons à l'utilisateur de nous confier certaines données personnelles.
    Nous nous efforçons de protèger les données que nous sommes amenés à traiter.
    %br/
    %br/
    Lieu et choix de l'hébergeur : dans une volonté de souligner son attachement à des technologies françaises et de s'assurer de la conformité avec les législation en vigueur, COVIDLISTE a fait le choix d'héberger ses données en France via la société SCALINGO.
    %br/
    %br/
    Type de stockage utilisés :
    %ul
      %li
        La plupart des données personnelles sont stockées et chiffrées dans notre base de données conformément à l'état de l'art.
        %br/
        La clé de chiffrement est stockée séparément, sur la plateforme d'hébergement du site, et n'est accessible que des gestionnaires de COVIDLISTE et de l'hébergeur pour des raisons techniques.
      %li
        Certaines données personnelles sont stockées de manière non réversible à l'aide de
        = link_to 'fonctions de hashage', 'https://fr.wikipedia.org/wiki/Fonction_de_hachage'
      %li
        Quelques données personnelles sont stockées en clair dans notre base de données.
        %br/
        Elles sont réduites au strict minimum et/ou sont volontairement imprécises.

    Blibliothèques techniques utilisées :
    %ul
      %li
        Pour le chiffrement des données, nous utilisons
        = link_to 'https://github.com/ankane/lockbox', 'https://github.com/ankane/lockbox'
      %li
        Pour le hachage de l'adresse email, nous utilisons
        = link_to 'https://github.com/ankane/blind_index', 'https://github.com/ankane/blind_index'
      %li
        Pour le hachage du mot de passe, nous utilisons les options de hachage par défaut proposées par
        = link_to 'https://github.com/heartcombo/devise', 'https://github.com/heartcombo/devise'
        (bcrypt)

  %p
    %strong Je suis journaliste et souhaite réaliser une interview

  %p
    Nous vous invitons à nous contacter sur
    = link_to 'hello@covidliste.com', 'mailto:hello@covidliste.com'

  %p
    %strong Comment télécharger votre application mobile ?

  %p À ce jour, Covidliste ne dispose pas d'application mobile.

  %p
    %strong Peut-on s'inscrire à deux (ou plus) ?
  %p
    Oui ! Chacun doit alors utiliser sa propre adresse email pour s'inscrire.
    %br/
    À ce jour, CovidListe n'autorise qu'une seule inscription par adresse e-mail.

  %p
    %strong Comment inscrire deux adresses postales différentes (domicile, travail, etc.) ?
  %p
    À ce jour, CovidListe n'autorise qu'une adresse postale par compte.


  -# %p
  -#   %strong Je ne suis pas français, puis-je m'inscrire ?

  -# %p
  -#   %strong Je veux m'inscrire à un centre de vaccination, comment faire ?
