<div class="container showCampaign">
  <div class="row">
    <div class="pageTitle">
      <div class="pageTitle__icon">
        <svg viewBox="0 0 64 64">
        <path d="M51.8,1.5c-4.2,0-7.7,2.1-9.8,5.3L15.7,9.4h-9C2.9,9.4,0,12.3,0,15.8v16.5c0,2.4,1.3,4.5,3.5,5.6L6.9,57
          c0.8,3.2,4,5.6,7.4,5.6c2.4,0,4.5-1.1,6.1-2.9c1.3-1.6,1.9-3.7,1.3-5.6l-2.7-15.7l22.8,5C44.1,46.9,47.8,49,52,49
          c6.6,0,12-5.3,12-12V13.1C63.7,6.8,58.4,1.5,51.8,1.5z M5.3,15.8c0-0.5,0.5-1.1,1.3-1.1h6.6v18.6H6.6c-0.8,0-1.3-0.5-1.3-1.1V15.8z
          M16.2,56.4c-0.5,0.5-1.1,0.8-1.9,0.8c-1.1,0-1.9-0.8-2.1-1.3L9,38.6h4.5l2.9,16.7C16.5,55.6,16.5,56.2,16.2,56.4z M18.6,33.1V14.5
          l21.2-2.1c0,0.3,0,0.8,0,1.1v23.9c0,0.3,0,0.3,0,0.5L18.6,33.1z M58.4,37.3c0,3.7-2.9,6.6-6.6,6.6c-3.7,0-6.6-2.9-6.6-6.6V13.4
          c0-3.7,2.9-6.6,6.6-6.6c3.7,0,6.6,2.9,6.6,6.6V37.3z"/>
        </svg>
      </div>
      <h1 class="pageTitle__text">
        <span class="pageTitle__category">
          Mes campagnes
        </span> <br>
        <%= @campaign.name.capitalize %>
      </h1>
    </div>
  </div>
  <div class="row showCampaign__indicators mb70">
    <div class="col-6 showCampaign__indicator showCampaign__indicator--progress">
      <div class="showCampaign__indicator__icon">
        <i class="fas fa-syringe"></i>
      </div>
      <div class="showCampaign__progress">
        <div class="showCampaign__progressLabel">
          <em id="doses"><%= @campaign.matches.confirmed.count %></em> doses attribuées / <%= @campaign.available_doses %>
        </div>
        <div class="progress">
          <div id="progress" class="progress-bar" style="width: <%= @campaign.matches.confirmed.count * 100 / @campaign.available_doses %>%;"></div>
        </div>
      </div>
    </div>
    <div class="showCampaign__indicator showCampaign__indicator--number">
      <div class="showCampaign__indicator__icon">
        <i class="fas fa-envelope-open-text"></i>
      </div>
      <p>
        <em id="notified"><%= @campaign.matches.count %></em><br>
        volontaires notifiés
      </p>
    </div>
    <div class="showCampaign__indicator showCampaign__indicator--number">
      <div class="showCampaign__indicator__icon">
        <i class="fas fa-user-check"></i>
      </div>
      <p>
        <em id="confirmed"><%= @campaign.matches.confirmed.count %></em><br>
        volontaires confirmés
      </p>
    </div>
    <%# <div class="showCampaign__indicator showCampaign__indicator--number">
      <div class="showCampaign__indicator__icon">
        <i class="fas fa-user-times"></i>
      </div>
      <p>
        <em>220</em><br>
        volontaires indisponibles
      </p>
    </div> %>
  
  </div>
    <h2 class="mb-4">Volontaires confirmés</h2>
  <p>
    Ces informations seront supprimées définitivement ce soir à minuit.
    <br>
    Ces informations ne doivent être utilisées que pour la vaccination des volontaires par votre centre
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Numéro</th>
        <th>Date de naissance</th>
      </tr>
    </thead>
    <tbody id="tbody">
      <% @campaign.matches.confirmed.each do |match| %>
      <% user = match.user %>
        <tr>
          <td><%= user.firstname %> <%= user.lastname %></td>
          <th><%= user.phone_number %></th>
          <td><%= user.birthdate.strftime("%d/%m/%Y") %></td>
        </tr>
      <% end %>
      <tr style="display:none;" id="user">
        <td>Renaud Dupont</td>
        <th>0123456789</th>
        <td>25/09/1941</td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  const notifiedElement = document.getElementById("notified");
  const confirmedElement = document.getElementById("confirmed");
  const dosesElement = document.getElementById("doses");
  const userElement = document.getElementById("user");
  const progressElement = document.getElementById("progress");
  const tbodyElement = document.getElementById("tbody");
  let curConf = 1;
  let maxConf = <%= @campaign.available_doses %>;
  window.setTimeout(() => {
    notifiedElement.textContent="31"
  }, 2000);
  window.setTimeout(() => {
    notifiedElement.textContent="50"
  }, 2856);
  window.setTimeout(() => {
    confirmedElement.textContent="1"
    dosesElement.textContent="1"
    userElement.style.display = 'table-row';
    progressElement.style.width = '2%'
    addConfirmed()
  }, 4000);
  const addConfirmed = () => {
    window.setTimeout(() => {
      if(curConf >= maxConf) return
      if(curConf === 16) {
        notifiedElement.textContent="73"
      }
      curConf ++;
      confirmedElement.textContent=curConf
      dosesElement.textContent=curConf
      progressElement.style.width = `${curConf*2}%`
      tbodyElement.innerHTML += `<tr><td>Nabil Nevoux</td><th>0123456789</th><td>25/09/1946</td></tr>`
      addConfirmed()
    }, Math.floor(Math.random() * 10000));
  }
</script>
